{
  "server": {
    "root_api_key": "your-root-api-key-here"
  },
  "storage": {
    "workspace": "/workspace/openviking",
    "vectordb": {},
    "agfs": {}
  },
  "log": {
    "level": "INFO",
    "output": "stdout"
  },
  "embedding": {
    "dense": {
      "api_base": "https://ark.cn-beijing.volces.com/api/v3",
      "api_key": "your-embedding-api-key-here",
      "provider": "volcengine",
      "dimension": 1024,
      "model": "doubao-embedding-vision-251215",
      "input": "multimodal"
    },
    "max_concurrent": 10
  },
  "vlm": {
    "api_base": "https://api.siliconflow.cn/v1",
    "api_key": "your-vlm-api-key-here",
    "provider": "openai",
    "model": "zai-org/GLM-4.6V",
    "max_concurrent": 100
  },
  "parsers": {
    "code": {
      "code_summary_mode": "ast"
    }
  }
}